/* section 3 css*/

.top-bg {
    width: 100%;
}

.section-2 {
    top: 100%;
    margin-left: 10%;
}

.indian-img {
    width: 400px;
    height: 500px;
}

.section-3 {
    margin-left: 10%;
    margin-right: 14%;
}

.section-4 {
    margin-left: 10%;
    margin-right: 24%;
}

.section-4-img {
    width: 1000px;
    height: 450px;
}

.section-5 {
    margin-left: 10%;
    margin-right: 14%;
}

.section-5-img {
    width: 460px;
    height: 350px;
}
