.orange{
    color: white;
    background-color: orangered;
    padding: 2px;
    width:20%;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 2px grey;
    position: absolute;
    top: 90%;
    left: 40%;
}
.some-text{
    position: absolute;
    top: 80%;
    left: 40%;
    text-align: center;

}
.video{
    position: absolute;
    width: 50%;
    left: 0;
    right: 0;
    margin: auto;
    top: 100%;
    
    
}
@media only screen and (max-width: 800px) {
    .tab-col {
        display: none;
    }
    .footer-row {
        display: flex;
        max-height: 50%;
        justify-content: space-around;
        flex-flow: column wrap;
        align-content: start;
    }
    .footer-row>div {
        width: 40%;
    }
    .hide-in-small-screen {
        display: none;
    }
}

.green-btn{
    background-color: green;
    color: white;
    text-align: center;
    padding: 2px;
    width:20%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px grey;
    position: absolute;
    top: 160%;
    left: 40%;

}
.some-text-2{
    position: absolute;
    top: 150%;
   left: 30%;
    margin: auto;

}

.feature-banner{
    position: absolute;
    top: 180%;
    width: 100%;
    overflow-x: scroll;
}

.feature-banner::-webkit-scrollbar {
    display: none;
  }
  .some-text-3{
    position: absolute;
    top: 250%;
   left: 40%;
    margin: auto;
}
.green-btn-2{
    background-color: green;
    color: white;
    text-align: center;
    padding: 2px;
    width:20%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px grey;
    position: absolute;
    top: 260%;
    left: 38%;

}
.background{
    position: absolute;
    background-image: url('IMAGES\\background-1815001_1920.png');
    width: 100%;
    top: 270%;
}
.cards{
    display: flex;
    justify-content: space-around;
}
.blue-item{
    background-color: #0b5ac9;
    border-radius: 10px;
    padding: 15px 0px;
    box-shadow: 5px 5px 3px #00000055;
}
.grey-item{
    margin: 1px;
    border-radius: 10px;
    background-color: rgb(221, 215, 215);
    transform: translate(-20px, 0px);
    padding: 25px 5px;
    box-shadow: 5px 5px 3px #00000055;
}

.cards{
    margin: 40px;
}

.orange-cart-btn{
    color: white;
    background-color: orangered;
    padding: 2px;
    text-align: center;
    padding-bottom: 6px;
    border-radius: 5px;
    width: 90%;
    margin: auto;
}
.card-link{
    text-align: center;
    color: #0b5ac9;
}

.card-text>p{
    margin: 0px;
    padding: 0px;
}

.card-text{
    margin: 10px 0px 10px 15px;
}
.bg-buttons{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 10px;;
}
.bg-btn{
    padding: 5px 180px 5px 180px;
    border-radius: 5px;
    color: white;
}
.footer-row{
    display: flex;
    justify-content: space-around;
}
.sub-btn{
    background-color: black;
    color: white;
    height: 40px;
    border-radius: 5px;
}

@media only screen and (max-width: 800px){
    .tab-col{
        display: none;
    }

    
}
/*second page css*/
.first-bg{
    background-image: url('IMAGES/pag2-p1.png');
    position: absolute;
    width: 100%;
    height: 550px;;
    top: 20%;
    background-repeat: no-repeat;
    background-size: cover;
}
.first-bg-items{
    position: absolute;
    top: 25%;
    right: 15%; 
}
.first-bg-btn{
    position: absolute;
    margin-top: 20px;
    text-align: center;
    right: 35%;
    padding: 10px;
    width: 180px;
    background-color: green;
    color: white;
    box-shadow: 2px 2px 2px grey;
    border-radius: 6px;;
}
.second-bg{
    background-image: url('IMAGES/vector-notepad-2111645_1280.png');
    position: absolute;
    width: 100%;
    height: 550px;;
    top: 101%;
    background-repeat: no-repeat;
    background-size: cover;
}
.second-bg-items{
    display: flex;
}
.second-bg-img{
    margin-top: 40px;
    margin-left: 190px;
    width: 600px;
    height: 400px;;
}
.second-bg-txt{
    margin-left: 30px;
    margin-top: 120px;
}
.grey-circle{
    background-color: grey;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 182%;
    margin-left: 80px;;
}
.g-text{
    position: absolute;
    top: 211%;
    margin-left: 115px;   
}
.fourth-bg{
    position: absolute;
    top: 215%;
    background-color: rgb(168, 237, 237);
    width: 100%;
    display: flex;
    height: 500px;
}
.img1{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 250px;;
    top: 25%;

}
.img2{
  position: absolute;
   height: 400px;
   top:10%;
   left: 30%;
}
.txt3{
    position: absolute;
   height: 400px;
   top:30%;
   left: 50%;

}
.background2{
    position: absolute;
    background-image: url('IMAGES\\background-1815001_1920.png');
    width: 100%;
    height: 250px;;
    top: 288.5%;
}
.some-text-4{
    position: absolute;
    top: 80%;
   left: 40%;
    margin: auto;
}
.green-btn-3{
    background-color: green;
    color: white;
    text-align: center;
    padding: 2px;
    width:20%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px grey;
    position: absolute;
    top: 60%;
    left: 38%;

}
